<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body text-center">
        <span class="titulo">Método de Newton-Raphson</span>
        <p class="mt-3">
          El método de Newton-Raphson es una técnica iterativa utilizada para encontrar una raíz aproximada de una función no lineal. 
          Este método se basa en el cálculo del valor de una función y su derivada para aproximarse progresivamente a la raíz.
        </p>
        <p>
          Para aplicar este método, se necesitan:
        </p>
        <ul class="text-start">
          <li>Una <strong>función</strong> f(x).</li>
          <li>La <strong>derivada de la función</strong> f'(x).</li>
          <li>Un <strong>punto inicial</strong> x0.</li>
        </ul>
        <p>
          Nota: En cada iteración, el nuevo valor de x se calcula utilizando la fórmula:
        </p>
        <p>
          x<sub>n+1</sub> = x<sub>n</sub> - f(x<sub>n</sub>) / f'(x<sub>n</sub>).
        </p>
        <p>
          El proceso continúa hasta que la diferencia entre valores sucesivos sea menor a un umbral de tolerancia o hasta alcanzar un número máximo de iteraciones.
        </p>
      </div>
    </div>
  </div>  
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{titulo}}</span>
          <form class="mt-3" [formGroup]="eventForm" (ngSubmit)="consulta()">
            <div class="mb-3">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="description">
                    Función
                  </label>
                  <div class="input-group">
                    <input type="text" formControlName="funcion" class="form-control form-control-lg" placeholder="Función" readonly> 
                    <button type="button" class="btn btn-secondary" (click)="openCalculator('funcion')">🧮</button>
                  </div>
              
              <div class="text-danger" *ngIf="eventForm.get('funcion')?.hasError('required') && eventForm.get('funcion')?.touched">
                <span>La función <strong> es obligatoria</strong></span>
              </div>
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="description">
                    Derivada De La Función
                  </label>

                  <div class="input-group">
                    <input type="text" formControlName="derivada" class="form-control form-control-lg" placeholder="Derivada de la función" readonly>
                    <button type="button" class="btn btn-secondary" (click)="openCalculator('derivada')">🧮</button>
                  </div>
              <div class="text-danger" *ngIf="eventForm.get('derivada')?.hasError('required') && eventForm.get('derivada')?.touched">
                <span>La derivada de la función <strong> es obligatoria</strong></span>
              </div>
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="description">
                    Punto Inicial
                  </label>
              <input type="number" formControlName="puntoI" class="form-control form-control-lg" placeholder="Punto Inicial">
              <div class="text-danger" *ngIf="eventForm.get('puntoI')?.hasError('required') && eventForm.get('puntoI')?.touched">
                <span>El punto inicial <strong> es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button type="button" routerLink="/**" class="btn btn-secondary btn-lg float-start">VOLVER</button>
              <button type="submit" [disabled]="eventForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Resultados</span>
          <br>
          <span>Raíz Encontrada: {{raiz}}</span>
          <br>
          <span class="titulo">Gráfica</span>
          <br>
          <img *ngIf="imagen" [src]="imagen" alt="Gráfica">
          <table *ngIf="lista.length >= 0" class="table table-striped mt-3">
            <thead>
            <tr>
              <th scope="col">Iteración</th>
              <th scope="col">x</th>
              <th scope="col">fx</th>
              <th scope="col">dfx</th>
              <th scope="col">Error</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let punto of lista">
              <td>{{ punto.iteracion }}</td>
              <td>{{ punto.x }}</td>
              <td>{{ punto.f }}</td>
              <td>{{ punto.d }}</td>
              <td>{{ punto.error }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>

 <!-- Modal para la calculadora -->
 <div class="modal" tabindex="-1" role="dialog" id="calculatorModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <app-calculator (close)="closeCalculator()" (save)="saveFunction($event)"></app-calculator>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCalculator()">Cerrar</button>
      </div>
      
    </div>
  </div>
</div>