<br>
<h1 style="text-align: center;">Métodos Numéricos</h1>
<br>

<div class="container">

    <div class="row" >

      <div class="col-md-3" >
        <a routerLink="/PuntoFijo" class="btn btn-primary" style="width:200px; height: 40px;">Punto Fijo</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/Biseccion" class="btn btn-primary" style="width:200px; height: 40px;">Bisección</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/NewtonRaphson" class="btn btn-primary" style="width:200px; height: 40px;">Newton Raphson</a>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-3">
        <a routerLink="/Secante" class="btn btn-primary" style="width:200px; height: 40px;">Secante</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/Jacobi" class="btn btn-primary" style="width:200px; height: 40px;">Jacobi</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/Gauss" class="btn btn-primary" style="width:200px; height: 40px;">Gauss Seidel</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" >
        <a routerLink="/Trapecio" class="btn btn-primary" style="width:200px; height: 40px;">Trapecio</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/Simpson" class="btn btn-primary" style="width:200px; height: 40px;">Simpson</a>
      </div>
      <div class="col-md-3" >
        <a routerLink="/broyden" class="btn btn-primary" style="width:200px; height: 40px;">Broyden</a>
      </div>
    </div>

  </div>
  <br>
<router-outlet></router-outlet>