<div class="row">
    <div class="col-sm-5">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">Método de Gauss-Seidel</span>
            <p class="mt-3">
              El método de Gauss-Seidel es una técnica iterativa utilizada para resolver sistemas de ecuaciones lineales de la forma Ax = b. 
              Es una mejora sobre el método de Jacobi, ya que utiliza los valores actualizados de las incógnitas tan pronto como están disponibles, lo que generalmente acelera la convergencia.
            </p>
            <p>
              Para aplicar este método, se necesitan:
            </p>
            <ul class="text-start">
              <li>Una <strong>matriz de coeficientes</strong> A.</li>
              <li>Un <strong>vector de términos independientes</strong> b.</li>
              <li>Un <strong>vector inicial</strong> x<sub>0</sub> para comenzar las iteraciones.</li>
            </ul>
            <p>
              Nota: En cada iteración, el valor de cada componente x<sub>i</sub> se calcula utilizando la fórmula:
            </p>
            <p>
              x<sub>i</sub><sup>(k+1)</sup> = (1 / a<sub>ii</sub>) * 
              (b<sub>i</sub> - Σ a<sub>ij</sub> * x<sub>j</sub><sup>(k+1)</sup> - Σ a<sub>ij</sub> * x<sub>j</sub><sup>(k)</sup>),
              con i ≠ j.
            </p>
            <p>
              Aquí se diferencian los términos calculados previamente en la iteración actual k+1 de los términos que aún pertenecen a la iteración pasada k .
            </p>
            <p>
              El proceso se repite hasta que la diferencia entre iteraciones consecutivas sea menor que un valor de tolerancia o se alcance un número máximo de iteraciones.
            </p>
          </div>
        </div>
      </div>
      
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">{{titulo}}</span>
                <form (ngSubmit)="generar()">
                    <div class="form-group">
                        <label for="matrixSize">Tamaño de la matriz</label>
                        <input type="number" id="matrizSize" [(ngModel)]="matrizSize" name="matrizSize" class="form-control" min="2" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Generar matriz</button>
                </form>
                <div *ngIf="matriz">
                    <div *ngFor="let row of matriz; let rowIndex = index" class="matrix-row">
                        <div *ngFor="let col of row; let colIndex = index" class="matrix-col">
                            <input type="number" [(ngModel)]="matriz[rowIndex][colIndex]" class="form-control matrix-input">
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <label>Vector:</label>
                    <div *ngFor="let val of vector; let i = index" class="matrix-row">
                      <input type="number" [(ngModel)]="vector[i]" class="form-control matrix-input">
                    </div>
                  </div>
                  <button (click)="calculate()" class="btn btn-success mt-3">Calcular</button>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">Resultados</span>
            <br>
            <div *ngIf="resultado.length || error.length">
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">X</th>
                    <th scope="col">Error</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of resultado; let i = index">
                        <td>{{i}}</td>
                        <td>{{res}}</td>
                        <td>{{error[i]}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <br>
            <span class="titulo">Iteraciones</span>
            <table *ngIf="iteraciones.length" class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Iteración</th>
                        <th scope="col" *ngFor="let col of iteraciones[0].x; let i = index">X{{i + 1}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let punto of iteraciones">
                        <td>{{ punto.iteracion }}</td>
                        <td *ngFor="let x of punto.x">{{ x }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>